@import "tailwindcss";

/*Color palette: https://colorhunt.co/palette/5d8736809d3ca9c46cf4ffc3*/

html, body, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-mono);
}

@theme {
  --color-primary: #123524;
  --color-secondary: #3E7B27;
  --color-tertiary: #85A947;
  --color-quaternary: #EFE3C2;
  --color-alert: #EC1313;
  --color-alert-hover: #E76F6F;
  --color-past-due: #FFCC00;
  --color-past-due-hover: #F7E186;
  --animate-levitate: levitate 3s ease-in-out infinite;
}

@keyframes levitate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}